<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='styles/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='styles/main.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static',filename = 'styles/home-page.css')}}">
	<!--===============================================================================================-->
</head>
<body>

	
		
			
			<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Police<em> Station XYZ</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{url_for('home')}}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{url_for('challan')}}">Challan</a></li>
                            <li class="scroll-to-section"><a href="">Investigation</a></li>
                            <li class="scroll-to-section"><a href="{{url_for('recovery')}}">Recovery</a></li>
                            <!-- <li class="scroll-to-section"><a href="">Logout</a></li>  -->
                            <li class="main-button"><a href="{{url_for('logout')}}">Logout</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> -->
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>


        <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form" action="#" method="post">
                        <span class="contact100-form-title">
                            Recovery Form
                        </span>
        
        
                        <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email</span>
                            <input class="input100" type="text" name="email" placeholder="Enter your email addess">
                            <span class="focus-input100"></span>
                        </div> -->
                        {{form.csrf_token}}
                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">Illicit</span>
					        <br>{{form.illicit(class = 'input100', type = 'number')}}

<!--                            <input class="input100" type="text"  id="illicit" name="illicit" >-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">Licit</span>
                            <br>{{form.licit(class = 'input100', type = 'number')}}
<!--                            <input class="input100" type="text" id="Licit" name="Licit">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">Lahan</span>
                            <br>{{form.lahan(class = 'input100', type = 'number')}}
<!--                            <input class="input100" type="text" id="Lahan" name="Lahan">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <span class="label-input100">Opium</span>
                            <br>{{form.opium(class = 'input100', type = 'number')}}
<!--                            <input class="input100" type="text" id="Opium" name="Opium">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Poppy</span>
                            <br>{{form.poppy(class = 'input100', type = 'number')}}
<!--                            <input class="input100" type="text" id="Poppy" name="Poppy">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Heroin</span>
                            <br>{{form.heroine(class = 'input100', type = 'number')}}
<!--                            <input class="input100" id="Heroin" name="Heroin">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Charas</span>
                            <br>{{form.charas(class = 'input100', type = 'number')}}
<!--                            <input class="input100" id="Charas" name="Charas">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Ganja</span>
                            <br>{{form.ganja(class = 'input100', type = 'number')}}
<!--                            <input class="input100" id="Ganja" name="Ganja">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Tablets</span>
                            <br>{{form.tablets(class = 'input100', type = 'number')}}
<!--                            <input class="input100" id="Tablets" name="Tablets">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Injection</span>
                            <br>{{form.injections(class = 'input100', type = 'number')}}
<!--                        <input class="input100" id="Injection" name="Injection">-->
                        <span class="focus-input100"></span></div>
                        <div class="wrap-input100 validate-input" >
                            <span class="label-input100">Others</span>
                            <br>{{form.other_recovery(class = 'input100', type = 'text')}}
<!--                            <input class="input100" id="Others" name="Others">-->
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-contact100-form-btn">
                            <div class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <button class="contact100-form-btn">
                                    <span>
                                        Submit
                                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        

</body>
</html>
